.header {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
        img {
            width: 212px;
            transition: 0.2s ease-in-out;
        }

        img:hover {
            transform: scale(1.02);
        }
    } 

    &__menu {
        ul {
            display: flex;
            align-items: center;
            gap: 50px;
            @include reset-list();

            a {
                color: $dark-blue;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        }
        
    }

    &__aside {
        ul {
            display: flex;
            align-items: center;
            gap: 20px;
            @include reset-list();

            li:nth-child(3) {
                margin-left: 30px;
                
                a {
                    color: $dark-blue; 
                }
            }

        }

        img {
            width:28px;
            transition: 0.2s ease-in-out;

            &:hover {
                transform: scale(1.2);
            }

        }

        .sign-in:hover {
            text-decoration: none;
        }
    }

}